.place__image {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
    margin-top: 48px;
}

@media screen and (max-width: 600px) {
    .place__image {
        grid-column-start: 1;
        grid-row-start: 3;
        margin: 0;
    }
} 